.tit {
    line-height: 1;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sec {
    padding: 100px 0;
}

.header {
    line-height: 100px;
    border-bottom: 3px solid#ba000c;
}

.header h1 {
    font-size: 0;
}

.header .inner {
    justify-content: space-between;
}

.header .gnb>ul {

    gap: 60px;
    color: #6f6f6f;
    font-size: 18px;
    font-weight: 600;
}

.header .gnb>li {
    width: 100px;
}

.header .gnb>ul>li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 1px;
    height: 12px;
    background: #c1c1c1;
    transform: translate(0, -50%);

}

.header .gnb>ul>li a:hover {
    display: block;
    color: #A8C8F9;
}


.mainVisual {
    position: relative;
    background: url(../img/main00.jpg) no-repeat center center/cover;
    height: 700px;
}

.mainVisual .inner {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .inner h2 {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-indent: -4px;
    margin: 0 0 35px 0;
}

.mainVisual .inner p {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    line-height: 10px;
}

.middleContent {
    position: relative;
    height: 400px;
    margin-top: 50px;

}

.middleContent .inner {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middleContent .inner-box {
    display: flex;
    height: 300px;
}

.middleContent .inner-box div {
    float: left
}

.middleContent .inner-box .submenu-left {
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
    background: #faf9f7;
}

.middleContent .inner-box .submenu-left a {
    color: #6f6f6f;
}

.middleContent .inner-box .submenu-left img {
    padding: 0 0 0 19px;
    vertical-align: top;
}

.middleContent .inner-box .submenu-center {
    margin-left: 15px;
    padding: 30px 0 0 0;
}

.middleContent .inner-box .submenu-center h3 {
    line-height: 50px;
    font-size: 12px;
    color: #6f6f6f;
}

.middleContent .inner-box .submenu-center p {
    font-size: 12px;
    color: #6f6f6f;
    word-break: keep-all;
}

.middleContent .inner-box .submenu-center ul {
    display: flex;
    margin-top: 35px;
}

.middleContent .inner-box .submenu-center li {

    float: left;
    width: 100%;
    /* height: 150px; */
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.middleContent .inner-box .submenu-right {
    position: relative;
    width: 100%;
    margin-right: 0;
    padding: 30px 0 0 0;
    background: #faf9f7;
}

.middleContent .inner-box .submenu-right a {
    color: #6f6f6f;
}

.middleContent .inner-box .submenu-right img {
    padding-left: 19px;
    vertical-align: top;
}

*/ .lastVisual {
    position: relative;
    height: 300px;
    width: 0 auto;

}

.lastVisual .inner {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lastVisual .inner div {
    flex: 1
}

.lastVisual .inner-box03 {}




.footer {
    width: 100%;

    padding: 33px 0 0 0;
    background: #ba000c;
    font-size: 11px;
    line-height: 20px;
}

.footer-inner {
    /* width: 940px; */
    margin: 0 auto;
    line-height: 14px;
    /* overflow: hidden; */
}

.footer-inner a {
    line-height: 14px;
    color: #faeff0;
    padding: 0 8px 0 3px;
}

.footer-inner p {
    margin-top: 23px;
    color: #de898e;
    line-height: 16px;
    word-spacing: -1px;
}

.footer-p {
    margin-top: 0;
    color: #de898e;
    line-height: 16px;
    word-spacing: -1px;
}